torch
torchvision
accelerate
transformers
sentencepiece
protobuf
safetensors
huggingface_hub[hf_xet]
diffusers @ git+https://github.com/huggingface/diffusers
sdnq @ git+https://github.com/Disty0/sdnq.git
gradio>=6.0.0
pillow
peft>=0.17.0
scipy
optimum-quanto>=0.2.7
